* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    color: #ededed;
    background-color: rgb(8 27 41);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #081b29;
}

.logo {
    font-size: 25px;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

nav a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
}


.container {
    display: none;
    position: absolute;
    top: 20px;
    right: 23px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #0ef;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}



nav a:hover {
    color: #0ef;
}

main {
    max-width: 1500px;
    margin: auto;
}

main>section {
    width: 100%;
}

.intro {
    position: relative;
    width: 100%;
    justify-content: space-between;
    min-height: 97vh;
    background-color: rgb(8 27 41);
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    background:
        radial-gradient(80vw 80vh at 15% 15%, #232956 0%, var(--bg1) 50%),
        radial-gradient(60vw 60vh at 90% 90%, #202652 0%, var(--bg2) 55%);
}

.intro>div {
    width: 49%;
    max-width: 600px;
}

.intro>div:nth-child(2)>div {
    width: 350px;
    height: 350px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    /* opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.5s; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px #0ef;
}

.intro>div:nth-child(2)>div>img {
    width: 98%;
    border-radius: 50%;
}

.intro>div>h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    margin-bottom: 5px;
    opacity: 0;
    /* animation: slideLeft 1s ease forwards; */
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.intro>div>h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideButtom 1s ease forwards;
    animation-delay: 0.7s;
    margin-bottom: 10px;
}

#text {
    color: #0ef;
}

.intro>div>h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.7s;
}

.intro>div>p {
    font-size: 20px;
    line-height: 26px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}




.socalMediaLinkes a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.socalMediaLinkes a:hover {
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background-color: #0ef;
    border-radius: 40px;
    color: #081b29;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 0 5px #0ef, 0 0 15px #0ef;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
    margin-bottom: 30px;
}

.btn:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}





.about {
    max-width: 1100px;
    margin: auto;
    margin-bottom: 150px;
    padding-top: 80px;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

}

.about>div:nth-child(2) {
    max-width: 600px;
}

.aboutImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px #0ef;
}

.aboutImage>img {
    width: 98%;
    border-radius: 50%;
}


.aboutText {
    width: 69%;
}

.aboutText>h2 {
    font-size: 43px;
}

.underspan {
    color: #0ef;
}

.aboutText>h4 {
    font-size: 29px;
    font-weight: 600;
    line-height: 1.7;
    color: #fff;
    margin: 10px 0 10px;
}

.aboutText>p {
    line-height: 25px;
}


.SkillsOverview {
    width: 100%;
    margin-bottom: 130px;
}

.conteiner {
    width: 100%;
    max-width: none;
}

.cards {
    color: aliceblue;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.AllSubTitle {
    text-align: center;
    font-size: 43px;
    margin-top: 50px;
    margin-bottom: 65px;

}


.cards {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.cards>div {
    border-radius: 20px;
    background-color: transparent;
    padding: 40px;
    border-right: 10px;
    /* transition: background 0.5s transform 0.5s; */
    transition: 0.3s;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;

}

.cards>div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.cards>div h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.cards>div:hover {
    transform: translateY(-10px);

}




.skillsSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container1 {
    width: 600px;
    padding: 75px 90px;
}

.title1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    line-height: 50px;
}

.bar {
    font-size: 25px;
}

.techSkillBars .bar {
    margin: 40px 0;
}

.techSkillBars .bar:last-child {
    margin-bottom: 0;
}

.techSkillBars .bar .info {
    margin-bottom: 5px;
}

.techSkillBars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s linear forwards;
    opacity: 0;
}

.techSkillBars .bar .progressLine {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s linear forwards;
    transform: scaleX(0);
    transform-origin: left;

}



.techSkillBars .bar .progressLine span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s linear forwards;
    transform: scaleX(0);
    transform-origin: left;

}

.html span {
    width: 90%;
}

.css span {
    width: 85%;
}

.javascript span {
    width: 90%;
}

.react span {
    width: 90%;
}

.python span {
    width: 90%;
}

.progressLine span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}

.progressLine span::before {
    content: "";
}

.html span::after {
    content: "90%";
}

.css span::after {
    content: "85%";
}

.javascript span::after {
    content: "90%";
}

.react span::after {
    content: "90%";
}

.python span::after {
    content: "90%";
}

.progressLine span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #000000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}


.parentBar {
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
    gap: 30px;
    row-gap: 60px;

}

.radialBars {
    width: 130px;


}



.radialBars .progressBar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.progressBar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.progressBar {
    stroke-width: 10;
    stop-color: #000000;
    stroke: #000000;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}


.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}


.path1 {
    animation: animationPath1 1s 1s linear forwards;
}

.path2 {
    animation: animationPath2 1s 1s linear forwards;
}

.path3 {
    animation: animationPath3 1s 1s linear forwards;
}

.path4 {
    animation: animationPath4 1s 1s linear forwards;
}


.persentage,
.skillText {
    text-align: center;
    font-size: 17px;
    font-weight: 500;

}

.persentage {
    position: relative;
    bottom: 79px;
}




.projects {
    width: 100%;
    margin-top: 70px;
}

.mainText>h2 {
    font-size: 43px;
    text-align: center;
    margin-bottom: 75px;
}

.projectContent {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.projectCard {
    max-width: 300px;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.projectCard:hover {
    transform: translateY(-10px);
}

.projectCard img {
    width: 100%;
    border-radius: 3px;
}

.layer>h4 {
    font-size: 23px;
    padding: 20px 0;
    text-align: center;
    color: #0ef;
}

.layer>p {
    line-height: 25px;
}

.linksection {
    padding: 35px 0 10px 0;
    display: flex;
    justify-content: space-between;
}

.linksection>a {
    text-decoration: none;
    color: #0ef;
    border: 1px solid #0ef;
    border-radius: 5px;
    padding: 5px 10px;
}

.linksection>a:hover {
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}


.allH2Headind {
    font-size: 43px;
    text-align: center;
    margin-bottom: 75px;
}

.gitStats {
    max-width: 1200px;
    margin: auto;
    margin-top: 140px;
}

.gitStatsImages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}

.gitStatsImages>div {
    width: 369px;
    transition: 0.3s;
    /* box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7; */

}

.gitStatsImages>div:nth-child(2) {
    width: 270px;
}

.gitStatsImages>div>img {
    width: 100%;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
    border-radius: 4px;
}

.gitStatsImages>div:hover {
    transform: translateY(-10px);
}


.gitContribution {
    max-width: 1200px;
    margin: auto;
    margin-top: 140px;
}

.contributionSnak {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contributionSnak>img {
    border-radius: 8px;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
    max-width: 98%;
    transition: 0.3s;
}

.contributionSnak>img:hover {
    transform: translateY(-10px);
}


.contact {
    max-width: 1000px;
    margin: auto;
    margin-top: 140px;
}

.contact>.contactText {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact>.contactText>h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact>.contactText>div,
.contactText>h3 {
    padding: 0 20px;
}


.contact>.contactText>div>a {
    font-size: 23px;
    text-decoration: none;
    color: #fff;
}

.contact>.contactText>div>a>i {
    color: #0ef;
    border: 2px solid #0ef;
    border-radius: 50%;
    padding: 10px;
    margin: 10px 15px 10px 0;
}

.contact>.contactText>div>a:hover i {
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.footer {
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer>h2 {
    padding: 20px;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}




@keyframes animationPath1 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animationPath2 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes animationPath3 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animationPath4 {
    100% {
        stroke-dashoffset: 75;
    }
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

@keyframes animate {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);

    }
}

@keyframes showText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes slideButtom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}


hr {
    margin: auto;
    margin-top: 52px;
    width: 80%;
}


#about {
    transition: 0.5s;
}




/* for Certification */
.certifications {
    max-width: 1100px;
    margin: 140px auto;
    padding: 0 10px 60px;
    text-align: center;
}

.cert-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.cert-card {
    background: transparent;
    border-radius: 8px;
    padding: 20px;
    width: 280px;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
    transition: transform 0.3s;
}

.cert-card:hover {
    transform: translateY(-10px);
}

.cert-card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 15px;
}

.cert-card h4 {
    font-size: 22px;
    color: #0ef;
    margin-bottom: 5px;
}

.cert-card p {
    font-size: 16px;
    color: #ededed;
}